.container {
    padding: 24px;
    background-color: #282A36;
    border-radius: 8px;
    width: 40vw;
    max-width: 90vw;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addPhraseContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F8F8F2;

}



  